@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
/* import other fonts here */

:root{
    --dark-brown: #4E1600;
    --medium-brown: #743A00;
    --light-brown: #A05F00;
    --dark-yellow: #FFAE36;
    --light-yellow: #FFAE36, 0.5;
    --orange: #CF8500;
    --light: #FFE1B6;
}

* {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box; 
     
}

body {
    font-family: 'Alfa Slab One', serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFE1B6;
    color: var(--dark-brown);
    margin: 0;
    padding: 0;
}

.top-navbar {
    background-color: var(--light-brown);
    padding: 10px 0;
    height: 4em;
    width: 100%;
    overflow: wrap;
}
.top-navbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;

}
.logo {     
    margin-right: auto; 
    padding-left: 1em; 
} .logo img {     
    height: 40px; 
    width: auto; 
}

.navbar-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%; 
    max-width: 420px;
    padding: 0 2em;
}

.navbar-option.active {
    background-color: var(--dark-yellow);
    border-radius: 8px;
    padding: 5px 10px;
}

.navbar-option {
    text-align: center;
    .active {
        background-color: var(--dark-yellow);
    border-radius: 8px;
    padding: 5px 10px;
    }
}

.login-register-buttons{
    color: var(--light);
    display: flex;
    justify-content: space-around;
    min-width: 10%;
    padding-right: 1em;
    gap: 1em;
}

.register-button, .login-button{
    background-color: var(--medium-brown);
    border-radius: 8px;
    padding: 5px 10px;
    border:var(--dark-brown) 1px solid;
}

.login-button {
    background-color: var(--orange);
    color: var(--dark-brown);
    border: var(--medium-brown) 1px solid;
}

.main-content {
    min-height: calc(100vh - 17.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.footer {
    background-color: var(--light-brown);
    padding: 20px 20px;
    height: 13.5em;
    width: 100%;
    display: flex;
    gap: 15px;
    overflow: wrap;
}

.footer-section-title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}
.social-media{
    width:35%;
}
.facebook-icon {
    width:30px;
    height: 30px;
    padding:3px;
    border-radius: 8px;
    border: var(--dark-brown) 1px solid;
}

.more-information {
    width: 35%;
}
.more-information-options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-us {
    align-self: center;
}

.contact-us-section {
    align-self: center;
    background-color: var(--dark-yellow);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: auto; /* Automatyczna wysokość dostosowująca się do zawartości */
    min-height: 200px; /* Minimalna wysokość dla estetyki */
}
.contact-us-header {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 32px;
}
.contact-us-data {
    display: flex;
    flex-direction: column; /* Układ w kolumnie, aby elementy były jeden pod drugim */
    position: relative;

}
.contact-data {
    position: static; /* Usuń absolutne pozycjonowanie, aby tekst układał się naturalnie */
    padding-left: 10px; /* Dodaj odstęp od lewej strony */
}


