<div class="footer">
    <div class="footer-section social-media">
        <div class="footer-section-title">Social media</div>
        <img src="../assets/facebook_icon.svg" alt="facebook-icon" class="facebook-icon">
    </div>
    <div class="footer-section more-information">
        <div class="footer-section-title">More information</div>
        <div class="more-information-options">
            <div class="more-information-option">About us</div>
            <div class="more-information-option">Honey types</div>
            <div class="more-information-option">Shop</div>
            <div class="more-information-option">Contact</div>
        </div>
    </div>
    <div class="footer-section contact-us">
        <div class="contact-us-section">
            <div class="contact-us-header">Contact us</div>
            <div class="contact-us-data">
                <div class="contact-label">Phone:</div>
                <div class="contact-data">+48 123 456 789</div>
            </div>
            <div class="contact-us-data">
                <div class="contact-label">E-mail:</div>
                <div class="contact-data">example@email.com</div>
            </div>
            <div class="contact-us-data">
                <div class="contact-label">Location:</div>
                <div class="contact-data">examole location</div>
            </div>
        </div>
    </div>
</div>