<div class="footer">
  <div class="footer-section social-media">
    <div class="footer-section-title">Social media</div>
    <img
      src="../assets/facebook_icon.svg"
      alt="facebook-icon"
      class="facebook-icon"
    />
  </div>
  <div class="footer-section more-information">
    <div class="footer-section-title">More information</div>
    <div class="more-information-options">
      <a href="about_us.html"
        ><div class="more-information-option">About us</div></a
      >
      <a href="honey_types.html"
        ><div class="more-information-option">Honey types</div></a
      >
      <a href="shop.html"><div class="more-information-option">Shop</div></a>
      <a href="contact.html"
        ><div class="more-information-option">Contact</div></a
      >
    </div>
  </div>
  <div class="footer-section contact-us">
    <div class="contact-us-section">
      <div class="contact-us-header">Contact us</div>
      <div class="contact-us-data">
        <div class="contact-label">Phone:</div>
        <div class="contact-data">+48 603 343 510</div>
      </div>
      <div class="contact-us-data">
        <div class="contact-label">E-mail:</div>
        <p>
          <span class="contact-data"></span>
          <a href="mailto:apamed@interia.pl" class="email-link"
            >apamed@interia.pl</a
          >
        </p>
      </div>
      <div class="contact-us-data">
        <div class="contact-label">Location:</div>
        <div class="contact-data">Żeliszów 139, 59-700 Żeliszów, Poland</div>
      </div>
    </div>
  </div>
</div>
