<div class="top-navbar">
    <div class="logo"><a href="homePage.html"><img src="../images/icon.png" alt="Logo"></a></div>
    <div class="navbar-options">
        <a href="about_us.html"><div class="navbar-option">About us</div></a>
        <a href="honey_types.html"><div class="navbar-option">Honey types</div></a>
        <a href="shop.html"><div class="navbar-option">Shop</div></a>
        <a href="contact.html"><div class="navbar-option">Contact</div></a>

    </div>
    <div id="login-register-buttons">
        <a href="login.html"><div class="login-button">Sign in</div></a>
        <a href="new_account.html"><div class="register-button">Register</div></a>
    </div>
    <div id="only-cart">
        <a class="top-cart-icon" href="cart.html">
            <img src="../assets/top-cart-icon.svg" alt="cart">
            <div class="cart-label"></div>
        </a>
    </div>
    <div id="user-and-cart">
        <a class="top-cart-icon" href="cart.html">
            <img src="../assets/top-cart-icon.svg" alt="cart">
            <div class="cart-label"></div>
        </a>
        <div id="logged-user">
            <div id="nav-user-name">John Doe</div>
            <div class="user-nav-buttons">
                <a id="go-to-profile">Profile <img src="../assets/user-icon.svg" alt="user icon"></a>
                <div id="logout-button">Logout <img src="../assets/logout-icon.svg" alt="logout icon"></div>
            </div>
        </div>
    </div>
</div>