<div class="top-navbar">
    <div class="logo"><a href="homePage.html"><img src="../images/icon.png" alt="Logo"></a></div>
    <div class="navbar-options">
        <a href="about_us.html"><div class="navbar-option">About us</div></a>
        <a href="honey_types.html"><div class="navbar-option">Honey types</div></a>
        <a href="shop.html"><div class="navbar-option">Shop</div></a>
        <a href="contact.html"><div class="navbar-option">Contact</div></a>

    </div>
    <div class="login-register-buttons">
        <a href="login.html"><div class="login-button">Sign in</div></a>
        <a href="new_account.html"><div class="register-button">Register</div></a>
    </div>
</div>